.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  background: #FFDDAB;
  color: #f4ce14;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 10%;
}

.navbar {
  background: #FFDDAB;
}

.navbar ul{
  display: flex;
  list-style: none;
  background: #FFDDAB;
  justify-content: center;
  align-items: center;
}

.navlist {
  width: 100px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

li > a{
  flex: 1;
  background: #FFDDAB;
  color: #495e57;
  text-align: center !important;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #495e57;
  cursor: pointer;
}

li:hover {
  transform: scale(1.1);
  background: #F2E2B1;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  height: auto;
  background: #FFDDAB;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4ce14;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
}


.columns {
  display: flex;
  gap: 20px;
  max-width: 1100px;
  width: 100%;
}
.column {
  flex: 1;
  background: #f4f4f4;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}
.column:hover {
  transform: translateY(-3px);
  background: #F2E2B1;
}
.column img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

footer {
  background: #FFDDAB;
  color: #f4ce14;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  max-width: 30px;
  height: 30px;
  padding-left: 3px;
  padding-top: 3px;
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
    text-align: center;
  }
}